body {
	background-color: #FCC347 
}

#table{
	width: 100%;
	height: 100%;
	border: none;
}
#container{
    background: #ccc;
    position: fixed;
    left: 20%;
    top: 20%;
    width: 60%;
    height: 60%;
}